<div class="container my-2">

  <h1>Blogs#show</h1>

  <div data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <div class="d-none" style="width: 35%; height: 600px; border-radius: 4px;"
    data-map-target="container">
    </div>
    <button class="btn btn-primary my-2" style="position: fixed; bottom: 1.5em; left: 50%; transform: translateX(-50%);" data-action="click->map#toggleMapVisibility">Show map</button>
  </div>
  <div>

