		<footer class="footer-04">
			<div class="container">
				<div class="row">
					<div class="col-4">
						<h2 class="footer-heading"><a href="#" class="logo text-decoration-none" style="color: #FCB84B;">TripEasy</a></h2>
						<p>TripEasy makes it easy to create captivating travel blogs. We give you the ability to design unique blogs, allowing you to share your stories, photos and tips. Discover inspiring travel content and plan your next adventures easily with TripEasy.</p>
					</div>
					<div class="col-4" id="categories-footer">
						<h2 class="footer-heading" style="color: #FCB84B;">Categories</h2>
						<ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block text-decoration-none" id="categories-hover">Discovery</a></li>
              <li><a href="#" class="py-1 d-block text-decoration-none" id="categories-hover">Destination</a></li>
              <li><a href="#" class="py-1 d-block text-decoration-none" id="categories-hover">About Us</a></li>
            </ul>
					</div>
					<div class="col-4">
						<h2 class="footer-heading" style="color: #FCB84B;">Tag cloud</h2>
						<div class="tagcloud">
	            <a href="#" class="tag-cloud-link text-decoration-none">canyoning</a>
	            <a href="#" class="tag-cloud-link text-decoration-none">surfing</a>
	            <a href="#" class="tag-cloud-link text-decoration-none">camping</a>
              <a href="#" class="tag-cloud-link text-decoration-none">hot air balloon ride</a>
	            <a href="#" class="tag-cloud-link text-decoration-none">hiking</a>
	            <a href="#" class="tag-cloud-link text-decoration-none">scuba diving</a>
	            <a href="#" class="tag-cloud-link text-decoration-none">photographic safari</a>
	          </div>
					</div>
				</div>
			</div>
		</footer>
