<div class="container my-5">
  <h1>Trip Easy</h1>
  <div class="row">
    <div class="col">
      <%= link_to "view all blogs", blogs_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
<div class="my-5 py-5 bg-white border" style="height: 600px">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <h2>Find popular destinations</h2>
      </div>
      <div class="row">
        <div class="col">
          <div class="border" style="height: 400px; width: 300px"></div>
        </div>
        <div class="col">
          <div class="border" style="height: 400px; width: 300px"></div>
        </div>
        <div class="col">
          <div class="border" style="height: 400px; width: 300px"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="my-5 py-5 bg-white border" style="height: 600px">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <h2>Find popular countries</h2>
      </div>
      <div class="row">
        <div class="col">
          <div class="border" style="height: 250px; width: 300px"></div>
        </div>
        <div class="col">
          <div class="border" style="height: 250px; width: 300px"></div>
        </div>
        <div class="col">
          <div class="border" style="height: 250px; width: 300px"></div>
        </div>
        <div class="col">
          <div class="border" style="height: 250px; width: 300px"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="my-5 py-5 bg-white border" style="height: 600px">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <h2>Find popular categories</h2>
      </div>
      <div class="row">
        <div class="col">
          <div class="border" style="height: 250px; width: 300px"></div>
        </div>
        <div class="col">
          <div class="border" style="height: 250px; width: 300px"></div>
        </div>
        <div class="col">
          <div class="border" style="height: 250px; width: 300px"></div>
        </div>
        <div class="col">
          <div class="border" style="height: 250px; width: 300px"></div>
        </div>
      </div>
    </div>
  </div>
</div>
