<h5 class="text-center mb-2 pt-3 pb-3" style="background-color: #E1E1E1; border-radius: 6px 6px 0px 0px;"><%= step.address %></h5>
  <div style= "font-family: sans-serif; padding: 10px;">
    <p class="px-2"><%= step.title %></p>
    <p class="px-2"><strong>Duration : </strong><%= step.duration %> day(s)</p>
  </div>
