@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');


.banner-grid {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  align-items: center;
  margin-left: 4%;
}

.banner-content {
  margin-top: 50%;
}

.banner {
  background-image: url(banner4.jpeg);
  font-family: 'Rhodium Libre', serif;
  background-size: cover;
  background-position: center;
  min-height: 125vh;
}

.banner h1 {
  font-family: 'Rhodium Libre', serif;
  margin: 0;
  color: #fefefe;
  font-size: 68px;
  font-weight: bold;
  letter-spacing: 6px;
}

.banner p {
  font-size: 20px;
  color: #f9f9f9;
  opacity: .7;
}



// ARROW

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 50%;
  margin: -30px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

// BANNER SHOW BLOG

.banner-show-blog {
  height: 50vh;
  text-align: center;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  display: flex;
  align-items: center;
  justify-content: center;
}
