@import 'bootstrap/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$card_color: #F9F9F9;
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card-blog {
  border-radius: 9px;
  width: auto;
  height: 40vh;
  transition: .3s ease;
  background: $card_color;
  margin: 8px;
}

.card-img {
  // background-color: #8785ff;
    background-position: center;
    background-size: cover;
    height: 45%;
    width: auto;
    border-radius: 8px;
    box-shadow: 0px 6px 15px grey;
  }

h6 {
	line-height: 1.5;
	font-weight: 450;
  font-family: 'Roboto', sans-serif;
}

.card-intro {
  line-height: 95%;
  font-size: 90%;
}
.per-period{
  font-size: 0.7em;
  display:contents;
}
