.mapboxgl-popup {
  width: 200px;
}

.mapboxgl-popup-content {
  font-family: 'Rhodium Libre', serif;
  border-radius: 6px !important;
  padding: 0 !important;
}

#blog-map {
  position: sticky !important;
  top: 86px;
}

.mapboxgl-map {
  width: 100%;
  height: calc(100vh - 86px);
}
