@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
	--font: "Inter", sans-serif;
	--green: #4A6947;
	--black: #292929;
	--white: #e1e1e1;;
}

/* ICON */
.icon-searchbar {
	color: var(--green);
	font-size: 1.7rem;
	display: flex;
	align-items: center;
	cursor: pointer;
  &:hover {
    animation: funny-icon 0.4s ease-in-out;
  }
}

@keyframes funny-icon {
	0% { scale: 1; }
	50% {
		scale: 0.8;
		transform-origin: bottom;
		transform: rotate(-15deg);
	}
	100% { scale: 1; }
}

.search-local {
  width: 100%;
  max-width: 75rem;
  display: flex;
  padding-left: 1rem;
  background: var(--white);
  border-radius: 0.4rem;
  min-height: 100%;
  height: auto;
  overflow: hidden;
  .text-input {
    height: 100%;
    width: 100%;
    box-shadow:none !important;
    background: #e1e1e1;
    display: flex;
    outline: none;
    border: none;
    color: var(--black);
    font-size: 1rem;
    opacity: 85%;
    &[type="text"]::placeholder {
      color: var(--black);
    }
  }
  .submit-tag {
    background: #FCB84B;
    border: none;
    font-weight: 500;
    font-size: 1.2rem;
    height: 100%;
    width: 3.5rem;
    cursor: pointer;
    text-align: center;
    .search-icon {
      display: none;
    }
    a {
      color: pink;
      // color: var(--white);
    }
    &:hover {
      background: #fcb036;
    }
  }
}
